
.footer-wrapper {
    border-top: 2px solid var(--accent-color); 
    background-color: var(--secondary-color);
    padding: var(--spacing-small);
    text-align: center;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--spacing-small);
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    justify-content: center;
    align-items: start;
    text-align: center;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: var(--spacing-small);
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.footer-section h4 {
    margin: var(--spacing-small) 0;
    color: var(--accent-color);
    font-size: var(--font-size-title);
    font-family: 'Playfair Display', serif;
    position: relative;
    text-align: center;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section ul li a {
    color: var(--text-color);
    text-decoration: none;
    transition: color var(--transition), transform var(--transition);
}

.footer-section ul li a:hover {
    text-decoration: underline;
    color: var(--hover-color);
}

.footer-section.cta .contact-methods {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-small);
}

.footer-section.cta .contact-methods li {
    list-style: none;
}

.footer-section.cta .contact-methods a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--text-color);
}

.footer-section.cta .contact-methods a:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

.footer-section.cta .contact-methods svg {
    fill: currentColor;
    transition: fill var(--transition);
}

.cta-button {
    display: inline-block;
    margin-top: var(--spacing-small);
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    transition: background-color var(--transition), transform var(--transition);
}

.cta-button:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
}

.footer-copyright {
    margin-top: var(--spacing-small);
    font-size: var(--font-size-base);
    color: var(--text-color);
    text-align: center;
}

@media (max-width: 900px) {
    .footer-container {
        grid-template-columns: 1fr;
    }

    .footer-section {
        flex-basis: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}